<footer
  class="pb-6"
  [ngClass]="absolute ? 'absolute w-full bottom-0 bg-blueGray-800' : 'relative'"
>
  <div class="container mx-auto px-4">
    <hr class="mb-6 border-b-1 border-blueGray-600" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-12/12 px-4">
        <div
          class="text-sm text-white font-semibold py-1 text-center"
        >
          Copyright © {{ date }}
          <a
            href="#"
            class="text-white hover:text-blueGray-300 text-sm font-semibold py-1"
          >
            G-team software
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
