<main>
    <div class="relative pt-16 flex content-center items-center justify-center min-h-screen-75">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
          background-image: url('https://s3.amazonaws.com/whitewallets/venetobet/section-images/veneto-21629841653.jpg');
        ">
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div>
              <h1 class="text-white font-semibold text-5xl">
                Ven y juega con nosotros
              </h1>
              <p class="mt-4 text-lg text-blueGray-200">
                La mejor experiencia en apuesta de caballos, donde te ofrecemos la mejor oportunidad de ganar desde tu hogar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <section class="bg-blueGray-100">
    <div class="container mx-auto px-4 pb-32 pt-16">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
          <div class="md:pr-12">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
              <i class="fas fa-file-alt text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Apuestas de caballos</h3>
            <!-- <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              This extension comes a lot of fully coded examples that help you get
              started faster. You can adjust the colors and also the programming
              language. You can change the text and images and you're good to go.
            </p> -->
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Más diversion más ganancias
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="fab fa-html5"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Diversión al máximo
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="far fa-paper-plane"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      100% confiable
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
          <img alt="..." class="max-w-full rounded-lg shadow-xl" style="
              transform: scale(1) perspective(1040px) rotateY(-11deg)
                rotateX(2deg) rotate(2deg);
            " src="assets/img/apuestas-landing.jpg" />
        </div>
      </div>
    </div>
  </section>
  