<main>
    <div class="relative pt-16 flex content-center items-center justify-center min-h-screen-75">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
          background-image: url('https://s3.amazonaws.com/whitewallets/venetobet/section-images/veneto-21629841653.jpg');
        ">
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div>
              <h1 class="text-white font-semibold text-5xl">
                Your story starts with us.
              </h1>
              <p class="mt-4 text-lg text-blueGray-200">
                This is a simple example of a Landing Page you can build using
                Notus Angular. It features multiple CSS components based on the
                Tailwind CSS design system.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <section class="pb-40 bg-blueGray-100">
    <div class="container mx-auto px-4 pb-32 pt-16">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
          <div class="md:pr-12">
            <div
              class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
              <i class="fas fa-file-alt text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Complex Documentation</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              This extension comes a lot of fully coded examples that help you get
              started faster. You can adjust the colors and also the programming
              language. You can change the text and images and you're good to go.
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Built by Developers for Developers
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="fab fa-html5"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Carefully crafted code for Components
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                      <i class="far fa-paper-plane"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Dynamic Javascript Components
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
          <img alt="..." class="max-w-full rounded-lg shadow-xl" style="
              transform: scale(1) perspective(1040px) rotateY(-11deg)
                rotateX(2deg) rotate(2deg);
            " src="assets/img/documentation.png" />
        </div>
      </div>
    </div>
  </section>
  <section class="block z-1 bg-blueGray-600">
    <div class="container mx-auto">
      <div class="justify-center flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4 -mt-24">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center">Login Page</h5>
              <a [routerLink]="['/auth/login']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/login.jpg" />
                </div>
              </a>
            </div>
  
            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center">Profile Page</h5>
              <a [routerLink]="['/profile']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/profile.jpg" />
                </div>
              </a>
            </div>
  
            <div class="w-full lg:w-4/12 px-4">
              <h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
              <a [routerLink]="['/landing']">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="assets/img/landing.jpg" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  