<app-bar-top [zonesList]="zonesList" [classList]="classList" [raceCourseList]="raceCourseList"
  [raceCourseList]="raceCourseList" [wagerList]="wagerList" [agentId]="agentId"></app-bar-top>
<div class="flex flex-wrap">
  <div class="w-full">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
      <div class="px-4 py-5 flex-auto">
        <accordion *ngIf="betsService.raceList.length > 0">
          <accordion-group [heading]="'Caballo: ' + horse.horse + ' - ' + 'Nro: ' + horse.number"
            *ngFor="let horse of this.betsService.horseList">
            <div *ngFor="let odd of horse.odds"
              class="flex items-center mb-1 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">
              <div class="lg:flex md:flex items-center">
                <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>
                <div class="flex flex-col">
                  <div class="text-sm leading-3 text-gray-700 w-full"><span class="font-bold">Bookmaker:</span>
                    {{odd.bookmaker}}</div>
                  <div class="text-xs text-gray-600 w-full"><span class="font-bold">Valor:</span> {{odd.value}}</div>
                  <div class="text-xs text-gray-600 w-full"><span class="font-bold">Fecha:</span> {{betsService.race.fechahora | date: "dd/MM/yyyy HH:mm"}}</div>
                  <!-- <div class="text-sm leading-3 text-gray-700 font-bold w-full">{{betsService.race.name}}</div>
                <div class="text-xs text-gray-600 w-full">Caballo: {{horse.horse}}</div>
                <div class="text-xs text-gray-600 w-full">Nro: {{horse.number}}</div> -->
                  <!-- <div class="text-xs text-gray-600 w-full" *ngIf="odd.odd != ''">Odd: {{odd.odd}}</div> -->
                  <!-- <div class="text-xs text-gray-600 w-full">Hora: {{betsService.race.fechahora | date: "dd/MM/yyyy HH:mm"}}</div> -->
                </div>
              </div>
              <div class="flex">
                <input id="customCheckLogin" [(ngModel)]="odd.checked" type="checkbox" name="rememberMe"
                  (change)="changeSelected(odd, horse, $event)"
                  class="form-checkbox border-2 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded" />
              </div>
            </div>
          </accordion-group>
        </accordion>
        <div class="tab-content tab-space">
          <div *ngIf="this.betsService.horseList.length == 0" style="text-align: center;">
            <b>No hay caballos que mostrar</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
