<app-bar-top></app-bar-top>
<div class="flex flex-wrap">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center z-3">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(1)"
          [ngClass]="{'text-red-600 bg-white': openTab !== 1, 'text-black bg-bets': openTab === 1}">
          <i class="fas fa-horse text-base mr-1"></i> Carreras
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center z-3">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(2)"
          [ngClass]="{'text-red-600 bg-white': openTab !== 2, 'text-black bg-bets': openTab === 2}">
          <i class="fas fa-cog text-base mr-1"></i> Pistas
        </a>
      </li>
      <!-- <li class="-mb-px mr-2 last:mr-0 flex-auto text-center z-50">
        <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(3)"
          [ngClass]="{'text-red-600 bg-white': openTab !== 3, 'text-black bg-bets': openTab === 3}">
          <i class="fas fa-briefcase text-base mr-1"></i> Options
        </a>
      </li> -->
    </ul>
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
            <div
              class="flex items-center mb-1 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg"
              (click)="viewDetail()">

              <div class="lg:flex md:flex items-center">
                <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>

                <div class="flex flex-col">

                  <div class="text-sm leading-3 text-gray-700 font-bold w-full">Club de Tenis de Concepcion88888</div>

                  <div class="text-xs text-gray-600 w-full">Av. veteranos del 93, Parque ecuador, Concepcion.</div>

                </div>

              </div>
            </div>
            <div
              class="flex items-center mb-1 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">

              <div class="lg:flex md:flex items-center">
                <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>

                <div class="flex flex-col">

                  <div class="text-sm leading-3 text-gray-700 font-bold w-full">Club de Tenis de Concepcion</div>

                  <div class="text-xs text-gray-600 w-full">Av. veteranos del 93, Parque ecuador, Concepcion.</div>

                </div>

              </div>
            </div>
            <div
              class="flex items-center mb-1 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">

              <div class="lg:flex md:flex items-center">
                <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>

                <div class="flex flex-col">

                  <div class="text-sm leading-3 text-gray-700 font-bold w-full">Club de Tenis de Concepcion</div>

                  <div class="text-xs text-gray-600 w-full">Av. veteranos del 93, Parque ecuador, Concepcion.</div>

                </div>

              </div>
            </div>
            <div
              class="flex items-center mb-1 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">

              <div class="lg:flex md:flex items-center">
                <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>

                <div class="flex flex-col">

                  <div class="text-sm leading-3 text-gray-700 font-bold w-full">Club de Tenis de Concepcion</div>

                  <div class="text-xs text-gray-600 w-full">Av. veteranos del 93, Parque ecuador, Concepcion.</div>

                </div>

              </div>
            </div>
            <div
              class="flex items-center mb-1 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg">

              <div class="lg:flex md:flex items-center">
                <div class="h-12 w-12 mb-2 lg:mb-0 border md:mb-0 rounded-full mr-3"></div>

                <div class="flex flex-col">

                  <div class="text-sm leading-3 text-gray-700 font-bold w-full">Club de Tenis de Concepcion</div>

                  <div class="text-xs text-gray-600 w-full">Av. veteranos del 93, Parque ecuador, Concepcion.</div>

                </div>

              </div>
            </div>
          </div>
          <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
            <p>
              Completely synergize resource taxing relationships via
              premier niche markets. Professionally cultivate one-to-one
              customer service with robust ideas.
              <br />
              <br />
              Dynamically innovate resource-leveling customer service for
              state of the art customer service.
            </p>
          </div>
          <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
            <p>
              Efficiently unleash cross-media information without
              cross-media value. Quickly maximize timely deliverables for
              real-time schemas.
              <br />
              <br />
              Dramatically maintain clicks-and-mortar solutions
              without functional solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
