<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="px-4 py-5 flex-auto">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4">
        <div class="text-sm leading-3 text-gray-700 font-bold w-full">APOSTAR TICKET</div>
      </div>
    </div>
    <div class="flex flex-wrap mt-4">
      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Zonas</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="zoneSelected" (change)="change()">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let zone of zonesList" [value]="zone.id">{{zone.name}}</option>
        </select>
      </div>
      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Clases</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="classSelected" (change)="change()">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let class of classList" [value]="class.id">{{class.name}}</option>
        </select>
      </div>
      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Hipódromos</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="raceCourseSelected" (change)="change()">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let raceCourse of raceCourseList" [value]="raceCourse.id">{{raceCourse.name}}</option>
        </select>
      </div>

      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">TIPO DE APUESTA</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="wagerSelected">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let wager of wagerList" [value]="wager.id">{{wager.name}}</option>
        </select>
      </div>

      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Fecha</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="fechaSelected" (change)="change()">
          <option [value]="'Todos'" selected>Todos</option>
          <option [value]="'Hoy'" selected>Hoy</option>
          <option [value]="'Mañana'" selected>Mañana</option>
        </select>
      </div>
      <div class="w-full lg:w-9/12 px-4" style="text-align: right;">
        <button style="margin-top: 28px;" *ngIf="oddSelectedList.length > 0"
          class="button-primary-bets text-white active:bg-red-600 uppercase font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Ver apuesta
        </button>
      </div>
      <!-- <div class="w-full lg:w-3/12 px-4">
          <div class="text-sm leading-3 text-gray-700 w-full">UNIDADES</div>
          <input type="text"
          name="name" id="input-name" autocomplete="off"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
        </div> -->
    </div>
  </div>
</div>
<div *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-4 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-xl font-semibold">
          Apuesta
        </h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <div
          class="flex items-center mb-1 mt-3 justify-between w-full p-2 lg:rounded-full md:rounded-full hover:bg-gray-100 cursor-pointer border-2 rounded-lg"
          *ngFor="let odd of oddSelectedList">
          <div class="lg:flex md:flex items-center" style="margin-right: 4rem">
            <div class="flex flex-col">
              <div class="text-sm leading-3 text-gray-700 font-bold w-full">{{odd.name}}</div>
              <div class="text-xs text-gray-600 w-full">Caballo: {{odd.horse}} - Nro: {{odd.number}}</div>
              <div class="text-xs text-gray-600 w-full" *ngIf="odd.odd != ''">Odd: {{odd.odd}}</div>
              <div class="text-xs text-gray-600 w-full">Hora: {{odd.fechahora | date: "dd/MM/yyyy HH:mm"}}</div>
            </div>
          </div>
          <div class="flex flex-col">
            <input [(ngModel)]="odd.bet" name="bet" type="number"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full max-w-100-px ease-linear transition-all duration-150"
                />
          </div>
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal()">
          Cerrar
        </button>
        <button
          class="bg-bets text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="save()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
