<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
  <div class="px-4 py-5 flex-auto">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4">
        <div class="text-sm leading-3 text-gray-700 font-bold w-full">APOSTAR TICKET</div>
      </div>
    </div>
    <div class="flex flex-wrap mt-4">
      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Zonas</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="zoneSelected" (change)="change()">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let zone of zonesList" [value]="zone.id">{{zone.name}}</option>
        </select>
      </div>
      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Clases</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="classSelected" (change)="change()">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let class of classList" [value]="class.id">{{class.name}}</option>
        </select>
      </div>
      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Hipódromos</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="raceCourseSelected" (change)="change()">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let raceCourse of raceCourseList" [value]="raceCourse.id">{{raceCourse.name}}</option>
        </select>
      </div>

      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">TIPO DE APUESTA</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="wagerSelected">
          <option [value]="0" selected>Todos</option>
          <option *ngFor="let wager of wagerList" [value]="wager.id">{{wager.name}}</option>
        </select>
      </div>

      <div class="w-full lg:w-3/12 px-4">
        <div class="text-sm leading-3 text-gray-700 w-full">Fecha</div>
        <select
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
          placeholder="Seleccione..." [(ngModel)]="fechaSelected" (change)="change()">
          <option [value]="'Todos'" selected>Todos</option>
          <option [value]="'Hoy'" selected>Hoy</option>
          <option [value]="'Mañana'" selected>Mañana</option>
        </select>
      </div>
      <!-- <div class="w-full lg:w-3/12 px-4">
          <div class="text-sm leading-3 text-gray-700 w-full">UNIDADES</div>
          <input type="text"
          name="name" id="input-name" autocomplete="off"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
        </div> -->
    </div>
  </div>
</div>
