/* You can add global styles to this file, and also import other style files */
.color-white{
    color: white;
}

.button-primary-bets{
    background-color: #F0F900;
}

.button-secondary-bets{
    background-color: #f5f5f5;
}

.border-auth{
    border: 3px solid #F0F900;
}

.bg-bets{
    background-color: #d1d804;
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.max-w-sm {
    max-width: 24rem;
}

.opacity-25 {
    opacity: 0.25;
}

.p-6 {
    padding: 1.5rem;
}