/* You can add global styles to this file, and also import other style files */
.color-white{
    color: white;
}

.button-primary-bets{
    background-color: #0676a1;
}

.button-secondary-bets{
    background-color: #f5f5f5;
}

.border-auth{
    border: 3px solid #0676a1;
}

.bg-bets{
    background-color: #0676a1;
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.max-w-sm {
    max-width: 24rem;
}

.opacity-25 {
    opacity: 0.25;
}

.p-6 {
    padding: 1.5rem;
}

.dataTables_info, .dataTables_length, .paginate_button, .dataTables_filter{
    font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.25rem;
}

.paginate_button.current{
    background: #0676a1 100%!important;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dataTables_wrapper .dataTables_filter input{
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dataTables_length{
    margin-bottom: 10px;
}

.border{
    border: black solid 1px;
}